body{
    background-color: #D8E6ED;
    height: 100vh;
}

#logo {
    display: block;
    position: fixed;
    top: 75px;
    left: 75px;
    width: 120px;
    aspect-ratio: 1;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#join-btn{
    position: fixed;
    top:50%;
    left:50%;
    margin-top:-50px;
    margin-left:-100px;
    font-size:18px;
    padding:20px 40px;
}

#video-streams{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    height: 90vh;
    width: 80vw;
    margin:0 auto;
    box-sizing: border-box;
    padding: 15px 50px;
    border-radius: 15px;
}

.activated#video-streams {
    background-color: rgba(186, 210, 222,.8);
}

.video-container{
    max-height: 100%;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #203A49;
    overflow: hidden;
}

.video-player{
    height: 100%;
    width: 100%;
}

button{
    border:none;
    background-color: cadetblue;
    color:#fff;
    padding:10px 20px;
    min-width: 150px;
    font-size:16px;
    margin:10px 25px;
    cursor: pointer;
    border-radius: 15px;
}

button:hover{
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    background-color: lightsteelblue;
    font-weight: bold;
}

#stream-controls{
    display: none;
    justify-content: center;
    margin-top:0.5em;
    background-color: #203A49;
    min-height: 8vh;
}

